.Dashboard-header {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 100%
  );
  overflow: hidden;
  text-align: left;
  height: 180px;

  box-shadow: 0px 3px rgba(124, 124, 124);
}

.Dashboard-header h3 {
  font-family: "Bebas Neue";
  color: #3d3552;
  font-size: 64px;
  margin-top: 48px;
  margin-left: 64px;
  margin-bottom: 8px;
}

.Dashboard-header p {
  margin-top: 0px;
  font-family: "Inter";
  color: #424242;
  font-size: 24px;
  margin-left: 64px;
}

.BackToHome {
  margin-left: 64px;
  margin-top: 24px;
  height: 24px;
  left: 0;
  top: 0;
  width: 156px;
  position: relative;
}

.BackToHome .BackToHomeIcon {
  height: 16px;
  left: 0;
  position: absolute;
  top: 0px;
  width: 16px;
}

.BackToHome .BackToHomeText {
  color: #424242;
  font-family: "Inter-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 18px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  top: -1px;
  white-space: nowrap;
}

.PageName {
  color: #000000;
  margin-left: 64px;
  margin-top: 4px;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 36px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  top: 0;
  white-space: nowrap;
  width: 341px;
}

.CardBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 2vh;
  margin-top: 2vh;
}

.MainContainer {
  margin-top: 2vh;
  margin-left: 4vh;
}

.MainContainer:after {
  content: "";
  display: table;
  clear: both;
}

.LeftColumnContainer {
  float: left;
  width: 45%;
  border: #000000;
  margin-left: 4vh;
}

.RightColumnContainer {
  float: left;
  width: 45%;
  border: #000000;
  margin-left: 8vh;
}

.ColumnHeader {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  top: 0;
  white-space: nowrap;
  margin-left: 2vh;
  margin-top: 2vh;
}

.Slider {
  width: 100vw;
  padding: 0px;
  display: flex;
  justify-content: space-between;
}

.QuickClicks {
  position: relative;
  padding-left: 480px;
  margin-top: -40px;
}

.DatePickerContainer {
  position: static;
  padding-left: 540px;
  margin-top: -64px;
}

.HistoricalTrendBg {
  flex-direction: column;
  background-color: #ffffff;
  width: 45vw;
  height: 250px;
  border: 1px solid;
  border-color: #d8d8d8;
  border-radius: 10px;
}

.HistoricalTrendChart {
  margin-top: -28px;
  margin-left: -16px;
}

.ReactFlowBg {
  flex-direction: column;
  background-color: #ffffff;
  width: 45vw;
  height: 760px;
  border: 1px solid;
  border-color: #d8d8d8;
  border-radius: 10px;
}

.Chart {
  position: relative;
  display: block;
  text-align: center;
}
.ChartText {
  position: absolute;
  text-align: center;
  margin: 0;
  width: 100%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.DashCard {
  left: auto;
  height: 132px;
  width: 352px;
  margin-left: 7.5vh;
}

.ReportToCFO {
  margin-top: 14vh;
  margin-left: 6vh;
  margin-right: 6vh;
}

.ReportToCFOTitle {
  color: #555555;
  font-size: 18px;
  margin-bottom: 24vh;
}

.DashCard .DashCardMainGroup {
  height: 129px;
  left: 0;
  top: 0;
  width: 312px;
}

.DashCard .DashCardMainGroupOverlap {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #d8d8d8;
  border-radius: 10px;
  height: 129px;
  position: relative;
  width: 320px;
}

.DashCard .DashCardTitle {
  color: #707070;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
  width: 240px;
}

.DashCard .DashCardContent {
  color: transparent;
  font-family: "IBM Plex Mono", Helvetica;
  font-size: 11px;
  font-weight: 400;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 76px;
  width: 272px;
}

.DashCard .DashCardContentPre {
  color: #666666;
}

.DashCard .DashCardContentPost {
  color: #666666;
}

.DashCard .DashCardContentMain {
  color: #60ec6e;
}

.DashCard .DashCardNum {
  color: #000000;
  font-family: "IBM Plex Mono", Helvetica;
  font-size: 25px;
  font-weight: 600;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 43px;
  width: 54px;
}

.DashCard .DashCardNumGroupWrapper {
  height: 30px;
  left: 100px;
  position: absolute;
  top: 46px;
  width: 108px;
}

.DashCard .DashCardNumGroup {
  height: 30px;
  position: relative;
  width: 105px;
}

.DashCard .DashCardNumTrendBG {
  height: 30px;
  left: 0;
  position: absolute;
  top: 0;
  width: 104px;
}

.DashCard .DashCardNumTrend {
  height: 20px;
  left: 9px;
  position: absolute;
  top: 7px;
  width: 21px;
}

.DashCard .DashCardTrendNum {
  color: #ffffff;
  font-family: "IBM Plex Mono", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
  width: 62px;
}
