.overview-card .card-group {
  height: 60px;
  width: 244px;
  position: relative;
  margin-left: 24px;
  padding-right: 96px;
  margin-top: 16px;
}

.overview-card .card-title {
  color: #222222;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1px;
  white-space: nowrap;
  width: 140px;
}

.overview-card .card-main-value {
  color: #000000;
  font-family: "IBM Plex Mono", Helvetica;
  font-size: 22px;
  font-weight: 600;
  left: 23px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 30px;
  width: 58px;
}

.overview-card .change-overlay {
  height: 21px;
  left: 149px;
  position: absolute;
  top: 36px;
  width: 93px;
}

.overview-card .streamline-money {
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 19px;
}

.overview-card .change-value {
  color: #0d0d0d;
  font-family: "IBM Plex Mono", Helvetica;
  font-size: 15px;
  font-weight: 600;
  left: 35px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 56px;
}

.overview-card .rectangle {
  background-color: #2e5967;
  height: 59px;
  left: 0;
  top: 0;
  width: 12px;
}

.overview-card .ChartBar {
  position: relative;
}
